<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Produtos
    </ion-title>
    <img class="" src="http://localhost/api86/img/Logo.png">
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>
  <ion-row>
    <ion-col size="6" *ngFor="let item of produtos">
      <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Bebidas</ion-card-subtitle>
      <p>Coca-Cola</p>

    </ion-card-header>

    <ion-card-content>
      <img src="../assets/cola.jpg">
      <ion-label position="floating">{{valor |currency:'BRL'}}</ion-label>
      <ion-button fill="outline" color="success" (click)="salvar()">compra</ion-button>

    </ion-card-content>
  </ion-card>
    </ion-col>

    <ion-col size="6">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Bebidas</ion-card-subtitle>
          <p>Cerveja</p>
        </ion-card-header>

        <ion-card-content>
          <img src="http://localhost/api86/img/cerveja.jpg">
          <ion-label position="floating">{{valor |currency:'BRL'}}</ion-label>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="6">
      <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Alimento</ion-card-subtitle>
      <p>Feijão</p>
    </ion-card-header>

    <ion-card-content>
      <img src="http://localhost/api86/img/feijao.jpg">
      <ion-label position="floating">{{alimento |currency:'BRL'}}</ion-label>
    </ion-card-content>
  </ion-card>
    </ion-col>

    <ion-col size="6">
      <ion-card >
        <ion-card-header>
          <ion-card-subtitle>Alimento</ion-card-subtitle>
          <p>Nescau</p>
        </ion-card-header>

        <ion-card-content>
          <img src="http://localhost/api86/img/nescau.jpg">
          Coca cola
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-grid>





  <app-explore-container name="Tab 1 page"></app-explore-container>




</ion-content>
